/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: relative;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav .menu-btn {
  position: absolute; 
  top: 25px; 
  right: 40px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;

}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
  /* Hero section */
  .hero {
    background-color: #f8f9fa;
    padding: 50px;
    text-align: center;
  }
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .hero p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
  }
  .hero a:hover {
    background-color: #0056b3;
  }
  .unggulan h3 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
  }
  .slides{
    width: 100%;
    position: relative;
  }
  .slides .slide{
    display: none;
  }
  .slides .slide img{
    width: 60%;
    height: 20%;
    margin-left: 20%;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .slides .navigation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .slides .navigation .prev, .slides .navigation .next{
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: rgba(0,0,0,0.2);
    user-select: none;
    transition: 0.6s ease;
  }
  .slides .navigation .prev:hover, .slides .navigation .next:hover{
    background: rgba(0,0,0,1);
  }
  @keyframes fade {
    from{opacity: 0.3}
    to {opacity: 1}
  }
  @media (max-width: 992px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 18px;
      padding: 13px;
    }
  }
  @media (max-width: 768px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 15px;
      padding: 10px;
    }
  }
  @media (max-width: 576px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 12px;
      padding: 7px;
    }
  }
  @media (max-width: 360px){
    .slides .navigation .prev, .slides .navigation .next{
      font-size: 11px;
      padding: 6px;
    }
  }
  /* Card layout for "Kenapa Percaya Kami?" section */
  .produksi h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
  }
  .produksi a {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
  }
  .produksi .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  .card {
    width: 300px; /* Adjust width as needed */
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  } 
  .card-img-top {
    height: 300px;
    object-fit: cover;
  }
  .card-body {
    padding: 20px;
  }
  .card-title {
    font-size: 20px;
    font-weight: 500px;
  }
  .card-text {
    font-size: 16px;
    margin-top: 10px;
  }
  .card a {
    font-size: 14px;
    text-decoration: none;
    color: #007bff;
    transition: all 0.3s ease;
  }
  .card a:hover {
    color: #0056b3;
  }
  .tentang-kami {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  .tentang-kami h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .tentang-kami p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .tentang-kami a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
  }
  .tentang-kami a:hover {
    background-color: #0056b3;
  }

  .footer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    text-align: center;
  }
  .footer p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  